<h2>{{ t('patientsTester.title') }}</h2>
<form [formGroup]="searchForm" (ngSubmit)="search()" class="search-form">
  <label>{{ t('patientsTester.field.firstName') }}: <input formControlName="firstName"></label>
  <label>{{ t('patientsTester.field.lastName') }}: <input formControlName="lastName"></label>
  <label>{{ t('patientsTester.field.fiscalCode') }}: <input formControlName="fiscalCode"></label>
  <button type="submit" [disabled]="loading">{{ t('patientsTester.action.search') }}</button>
  <button type="button" (click)="startNewPatient()">{{ t('patientsTester.action.new') }}</button>
</form>


<!-- Banner notifiche evanescenti -->
<ng-container *ngIf="notificationService.notification$ | async as notification">
  <div [ngClass]="{
    'notification-banner': true,
    'notification-success': notification.type === 'success',
    'notification-error': notification.type === 'error'
  }">
    {{ notification.message }}
  </div>
</ng-container>

<table *ngIf="patients.length" class="results">
  <thead>
    <tr>
      <th>{{ t('patientsTester.field.firstName') }}</th><th>{{ t('patientsTester.field.lastName') }}</th><th>{{ t('patientsTester.field.fiscalCode') }}</th><th>{{ t('patientsTester.field.email') }}</th><th>{{ t('patientsTester.results.actions') }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of patients" [class.selected]="selectedPatient?.id === p.id" (click)="selectPatient(p)">
      <td>{{ p.firstName }}</td>
      <td>{{ p.lastName }}</td>
      <td>{{ p.fiscalCode }}</td>
      <td>{{ p.email }}</td>
      <td>
        <button type="button" *ngIf="p.id != null" (click)="deletePatient(p.id); $event.stopPropagation();">{{ t('patientsTester.action.delete') }}</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedPatient" class="edit-form">
  <h3>{{ selectedPatient.id ? t('patientsTester.title.edit') : t('patientsTester.title.new') }}</h3>
  <form (ngSubmit)="savePatient()">
    <label>{{ t('patientsTester.field.firstName') }}: <input [(ngModel)]="selectedPatient.firstName" name="firstName"></label>
    <label>{{ t('patientsTester.field.lastName') }}: <input [(ngModel)]="selectedPatient.lastName" name="lastName"></label>
    <label>{{ t('patientsTester.field.fiscalCode') }}: <input [(ngModel)]="selectedPatient.fiscalCode" name="fiscalCode"></label>
    <label>{{ t('patientsTester.field.email') }}: <input [(ngModel)]="selectedPatient.email" name="email"></label>
    <button type="submit" [disabled]="loading">{{ t('patientsTester.action.save') }}</button>
    <button type="button" (click)="clearSelection()">{{ t('patientsTester.action.cancel') }}</button>
  </form>
</div>
